<!DOCTYPE html>
<html>
<head>
  <title>Startapp by PW - a store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
    <div id="banner">
        <%= image_tag('logo.png') %>
        <%= @page_title || 'Pragmatic Bookshelf' %>
    </div>
        <div id="columns">
          <div id="side">
                  <ul>
                          <li><a href="http://www.wp.pl">Wp</a></li>
                          <li><a href="http://www.google.pl">Questions</a></li>
                          <li><a href="http://localhost:3000">main</a></li>
                          <li> <%= link_to 'Producty', products_path() %>  </li>
                  </ul>                    
                  <span style="color: magenta">Genarated: <%= Time.now %></span>  
                  <span style="color: magenta">Your CartID= 
                        <%= @current_cart_b_id %> 
                  </span>
          </div>
          <div id="main">      
                <%= yield %>
          </div>
        </div>

</body>
</html>
